* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* Common Styles */
button {
  padding: 1rem 2rem;
  border-radius: 25px;
  color: white;
  border: none;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
}

section {
  margin: auto;
  text-align: center;
  padding-block: 5rem;
}

p {
  width: 80%;
  text-align: center;
  margin-inline: auto;
  font-size: 18px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

/* History Section */
.history_of {
  background: url(../images/bg-header-desktop.png) no-repeat top;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.history_of_container {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.ios {
  background-color: rgb(88, 155, 133);
}

.mac {
  background-color: rgb(45, 3, 78);
}

/* Keep Section */
.keep .content p {
  width: 40%;
  margin-inline: auto;
}

.keep_details {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 6rem;
}

.keep_img {
  flex: 1;
}

.keep_img img {
  margin-left: -200px;
}

.keep_content {
  display: flex;
  align-items: flex-start;
  flex: 1;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1.5rem;
  text-align: start;
}

.keep_content .card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.keep_content .card h4 {
  font-size: 20px;
  font-weight: 700;
}

.keep_content .card p {
  width: 85%;
  text-align: start;
  margin-inline: 0;
}

/* Access Section */
.access_img {
  margin-top: 6rem;
}

/* Workflow Section */
.workflow_icons {
  display: flex;
  justify-content: center;
  margin-inline: auto;
  margin-top: 5rem;
  width: 80%;
}

.workflow_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 20px;
  flex: 1;
  width: 100%;
}

.workflow_card h4 {
  font-size: 20px;
  font-weight: 700;
}

.workflow_card img {
  width: 50px;
}

/* Logos Section */
.logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin-inline: auto;
}

.logos img {
  width: 150px;
  object-fit: contain;
}

/* Clipboard Section */
.clipboard .content p {
  width: 40%;
  text-align: center;
  margin-inline: auto;
}

.clipboard .actions {
  margin-top: 4rem;
}

/* Footer Sectin */
footer {
  width: 100%;
  background-color: rgba(166, 156, 156, 0.714);
  padding-block: 4rem;
}

.footer_container {
  width: 80%;
  margin-inline: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

footer .logo {
  flex: 1;
}

footer .logo img {
  width: 50px;
}

.footer_item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
}

.footer_item p {
  text-align: start;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
